.click-me {
  background-color: rgb(15, 4, 4);
  color: #ffffff;
}

.no-click-me {
  background-color: yellow;
}

.click-me,
.no-click-me {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}
